<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!--POJO 纯XML配置AOP-->
    <!--execution 表达式：* cn.csdn.hr..*.*work(..)) 返回值 包名..*(表示当前报下所有类) 方法名 参数个数(或者类型)-->
    <aop:config>
        <aop:pointcut id="baseAOPPointCut" expression="execution(* myJunit..*.test*(..))"/>
        <aop:pointcut id="log" expression="@annotation(myJunit.annotation.myTestAnnotation)"/>
        <aop:aspect ref="baseAspectTest">
            <aop:before method="before" pointcut-ref="baseAOPPointCut"/>
            <aop:before method="before" pointcut-ref="log"/>
        </aop:aspect>
    </aop:config>

</beans>