<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
      http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <import resource="spring-aop.xml"/>

    <context:component-scan base-package="myJunit"/>
    <!-- 开启驱动器注解 -->
    <mvc:annotation-driven />

    <!-- 支持异步方法执行 -->
    <task:annotation-driven executor="poolTaskExecutor"/>

    <!-- 加载spring中的资源文件 -->
    <context:property-placeholder location="classpath:db.properties,classpath:sysConfig.properties"
                                  ignore-unresolvable="true"/>


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name = "driverClassName" value="${jdbc.driverClassName}"/>
        <property name = "url"               value="${jdbc.url}"/>
        <property name = "username"          value="${jdbc.username}"/>
        <property name = "password"         value="${jdbc.password}"/>
    </bean>

    <!-- 获取MyBatis sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:configLocation="classpath:mybatis-config.xml"
          p:mapperLocations="classpath:myJunit/dao/Mapper/*.xml"><!-- 扫描Mapper文件 -->

    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="myJunit.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--spring事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!--使用注释事务 -->
    <tx:annotation-driven  transaction-manager="transactionManager" />

    <!-- 获取MyBatis 批量更新-->
    <bean id="sqlSessionTemplateBatch" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
        <!--更新采用批量的executor -->
        <constructor-arg index="1" value="BATCH"/>
    </bean>

    <!--基于spring的异步处理方式-->
    <task:executor id="poolTaskExecutor" pool-size="5"/>

</beans>